@media screen and (max-width: 660px) {
  .separe {
    margin-top: 20rem;
  }
  #slider {
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin-top: 12rem;
    left: 0;
    right: 0;
  }
  #slider .overlay {
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #slider #hero-slider {
    width: 100%;
    height: 60vh;
    overflow: hidden;
  }
  #slider #hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #slider #hero-slider .carousel-cell .inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
  }
  #slider #hero-slider .carousel-cell .inner .subtitle {
    font-family: "Roboto Slab", serif;
    font-size: 2.2rem;
    line-height: 1.2em;
    font-weight: 200;
    font-style: italic;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
  }
  #slider #hero-slider .carousel-cell .inner .title {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 40px;
  }
  #slider #hero-slider .carousel-cell .inner .btn {
    border: 1px solid #fff;
    padding: 14px 18px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8rem;
    letter-spacing: 3px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
  }
  #slider #hero-slider .carousel-cell .inner .btn:hover {
    background: #fff;
    color: #000;
  }
  #slider #hero-slider .flickity-prev-next-button {
    width: 80px;
    height: 80px;
    background: transparent;
  }
  #slider #hero-slider .flickity-prev-next-button:hover {
    background: transparent;
  }
  #slider #hero-slider .flickity-prev-next-button .arrow {
    fill: white;
  }
  #slider #hero-slider .flickity-page-dots {
    bottom: 30px;
  }
  #slider #hero-slider .flickity-page-dots .dot {
    width: 30px;
    height: 4px;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    border: 0 solid white;
    border-radius: 0;
  }
  #slider #hero-slider .flickity-page-dots .dot.is-selected {
    background: #f00;
    border: 0 solid #f00;
  }
}
@media screen and (max-width: 400ppx) {
  .our_clients .our_solution img {
    margin-top: 0;
    padding-top: 0;
    width: 100px;
  }
  .our_clients .our_solution p {
    margin-top: 40px;
    width: 100vw;
    text-align: center;
    font-size: 0.8rem;
  }
  .mission .missionContent {
    width: 100vw;
    left: 0;
    right: 0;
    padding: 2rem 1rem;
  }
  .mission .missionContent h2 {
    font-size: 1.2rem;
  }
  .mission .missionContent div img {
    width: 2rem;
  }
  .mission .missionContent div p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 568px) {
  html {
    padding: auto 10px;
    max-width: 568px;
  }
  .floatButton {
    bottom: 10%;
    right: 5%;
    padding: 0.2rem 0.2rem;
    border: 1px solid white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
  .floatButton img {
    width: 2rem;
  }
  header nav .logo img {
    width: 8rem;
  }
  header nav .center_nav {
    width: 70vw;
    font-size: 12px;
  }
  .modal .modalContent {
    width: 300px;
  }
  .modal .modalContent div .buttons {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: 4rem;
  }
  .modal .modalContent div .buttons button {
    width: 100%;
    padding: 1rem 0;
  }
  .content {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .content .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto 0;
    justify-content: center;
  }
  .content .hero h2 {
    font-size: 1.8rem;
    padding: 10px;
    text-align: center;
  }
  .content .hero p {
    font-size: 0.8rem;
    align-self: center;
    text-align: center;
    margin: 20px 0;
    width: 300px;
  }
  .content .hero img {
    margin-top: 20px;
    width: 18rem;
    height: 6rem;
  }
  .our_clients {
    padding-top: 4rem;
  }
  .our_clients h2 {
    font-size: 1.2rem;
  }
  .our_clients .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .our_clients .logos img {
    align-self: center;
    text-align: center;
    width: 60px;
  }
  .our_clients .our_solution {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .our_clients .our_solution img {
    margin-top: 0;
    padding-top: 0;
    width: 96vw;
  }
  .our_clients .our_solution p {
    margin-top: 40px;
    text-align: center;
    width: 80vw;
    font-size: 0.8rem;
  }
  .separe {
    margin-top: 15rem;
  }
  .separe2 {
    margin-top: 10rem;
  }
  .services div {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .services h2 {
    font-size: 1.2rem;
  }
  .services img {
    width: 10rem;
  }
  .services .services_content {
    margin-top: 2rem;
    gap: 3rem;
  }
  .services .services_content h3 {
    font-size: 1rem;
    margin-top: 0rem;
  }
  .services .services_content p {
    font-size: 0.8rem;
    text-align: center;
  }
  .services .services_content img {
    width: 18rem;
  }
  .why {
    padding-top: 1rem;
  }
  .why div {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .why h3 {
    font-size: 1.2rem;
    text-align: center;
  }
  .why > div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .why > div .info h4 {
    font-size: 0.9rem;
  }
  .why > div .info .subInfo {
    gap: 1rem;
  }
  .why > div .info .subInfo p {
    font-size: 0.8rem;
    text-align: center;
  }
  .why > div .points .card h3 {
    font-size: 1rem;
  }
  .why > div .points .card p {
    font-size: 0.8rem;
    text-align: center;
  }
  .about {
    padding-top: 6rem;
  }
  .about div {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .about h2 {
    font-size: 1.2rem;
  }
  .about p {
    text-align: justify;
    font-size: 0.8rem;
  }
  .about div img {
    width: 20rem;
  }
  .about div span {
    gap: 2rem;
  }
  .mission {
    margin: 0 0;
    padding: 5rem 1rem;
  }
  .mission div {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .mission .missionContent {
    padding: 2rem 1rem;
  }
  .mission .missionContent h2 {
    font-size: 1.2rem;
  }
  .mission .missionContent div img {
    width: 2rem;
  }
  .mission .missionContent div p {
    font-size: 1rem;
  }
  .coverage div {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .coverage h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  .coverage .contentCoverage {
    flex-direction: column;
    gap: 2rem;
  }
  .coverage .contentCoverage h3 {
    font-size: 0.8rem;
  }
  .coverage .contentCoverage div div {
    gap: 2rem;
  }
  .coverage .contentCoverage img {
    width: 20rem;
  }
  footer {
    margin-top: 8rem;
    padding: 3rem 2rem;
  }
  footer div {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  footer > div {
    padding: 6rem 8rem;
  }
  footer > div h2 {
    font-size: 1rem;
    width: 80vw;
  }
  footer > div button {
    margin-top: 0.6rem;
    padding: 0.4rem 2rem;
    font-size: 0.8rem;
    font-weight: bold;
  }
  footer > div div {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  footer > div div .left {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
  }
  footer > div div .left span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    width: 80vw;
  }
  footer > div div .left span h4 {
    font-size: 0.8rem;
  }
  footer > div div .right img {
    width: 2.2rem;
  }
  footer > div div .right h4 {
    margin-top: 1rem;
    width: 12rem;
  }
  footer > div .copyright {
    margin: 4rem 0 2rem;
    opacity: 0.6;
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=responsive.css.map */