$base_color:#142C2E;

*{
  padding:0;
  margin:0;
  box-sizing: 0;
  font-family: 'Roboto', sans-serif;
}

html{
  font-size: 62,5%;
  margin:0 auto;
  max-width: 1380px;
}

body{
  padding: 1.5rem 1.5rem;
}

header{
  nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo{
      margin-top:-1rem;
    }
    ul{
      list-style: none;
      display: flex; 
      align-items: center;
      justify-content: center;
      gap:20px;

      a{
        text-decoration: none;
        font-weight: bold;
        color:$base_color;
      }

    
    }
    div{
      .buttonPrimary{
        button{
        cursor: pointer;
          background-color: $base_color;
          color:white;
          width: 12rem;
          height: 3rem;
          font-weight: bold;
          border:1px solid $base_color;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
}
          div{
            width: 11.7rem;
            height: 3rem;
            border:1.5px solid  $base_color;
            margin-left:10px;
            margin-top:-40px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
          }
        }
       
    }
  }
}



@media screen and (max-width: 400px){
  html{
    font-size: 62,5%;
    margin:0 auto;
    max-width: 1380px;
  }

  body{
    padding: 1rem 1rem;
  }
  


}
