* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 62, 5%;
  margin: 0 auto;
  max-width: 1380px;
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  padding: 1.5rem 1.5rem;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav .logo {
  margin-top: -1rem;
}
header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
header nav ul a {
  text-decoration: none;
  font-weight: bold;
  color: #142C2E;
}
header nav .center_nav {
  display: flex;
  gap: 10rem;
}
header nav div .buttonPrimary button {
  cursor: pointer;
  background-color: #142C2E;
  color: white;
  width: 12rem;
  height: 3rem;
  font-weight: bold;
  border: 1px solid #142C2E;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
header nav div .buttonPrimary div {
  width: 11.7rem;
  height: 3rem;
  border: 1.5px solid #142C2E;
  margin-left: 10px;
  margin-top: -40px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.buttonPrimary button {
  cursor: pointer;
  background-color: #142C2E;
  color: white;
  width: 12rem;
  height: 3rem;
  font-weight: bold;
  border: 1px solid #142C2E;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.buttonPrimary div {
  width: 11.7rem;
  height: 3rem;
  border: 1.5px solid #142C2E;
  margin-left: 10px;
  margin-top: -40px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.btn_iconHeader {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.hero {
  margin-top: 5rem;
}
.hero div {
  display: flex;
  flex-direction: column;
}
.hero div h2 {
  font-size: 7rem;
}
.hero div h2 span {
  color: #2C95D6;
}
.hero div p {
  align-self: flex-end;
  width: 400px;
}
.hero img {
  margin-top: 80px;
  width: 80rem;
  height: 442px;
}

.our_clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}
.our_clients h2 {
  font-size: 2rem;
}
.our_clients .logos {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 48px;
}
.our_clients .logos img {
  width: 10rem;
}
.our_clients .our_solution {
  display: flex;
  position: absolute;
  margin-top: 400px;
  left: 0;
}
.our_clients .our_solution p {
  margin-top: 100px;
  width: 700px;
  font-size: 20px;
}

.separe {
  content: "";
  margin-top: 50rem;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}
.services h2 {
  font-size: 2rem;
}
.services .services_content {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  gap: 7rem;
}
.services .services_content h3 {
  margin-top: 5rem;
  font-size: 1.6rem;
}
.services .services_content p {
  margin-top: 32px;
  font-size: 1.3rem;
}

.why {
  padding-top: 8rem;
}
.why h3 {
  font-size: 2rem;
}
.why > div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 6rem;
}
.why > div .info {
  margin-top: 2rem;
}
.why > div .info h4 {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.3411764706);
  margin-bottom: 2rem;
}
.why > div .info .subInfo {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.why > div .info .subInfo p {
  font-size: 1.3rem;
}
.why > div .points {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.why > div .points .card {
  display: flex;
  gap: 1rem;
}
.why > div .points .card h3 {
  margin-top: 0.4rem;
  font-size: 1.5rem;
}
.why > div .points .card p {
  margin-top: 1rem;
  text-align: justify;
}

.about {
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.about h2 {
  font-size: 2rem;
}
.about p {
  text-align: justify;
  font-size: 1.2rem;
}
.about div {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.about div span {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.about div img {
  width: 40rem;
}

.mission {
  padding-top: 20rem;
}
.mission .missionContent {
  position: absolute;
  background-color: #142C2E;
  color: white;
  left: 0;
  right: 0;
  padding: 6rem 20rem;
  text-align: center;
}
.mission .missionContent h2 {
  font-size: 3rem;
}
.mission .missionContent div {
  display: flex;
  flex-direction: column;
}
.mission .missionContent div img {
  width: 5rem;
}
.mission .missionContent div .leftHash {
  align-self: flex-start;
}
.mission .missionContent div .rightHash {
  align-self: flex-end;
}
.mission .missionContent div p {
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  padding: 40px 10px;
  font-size: 2.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.coverage {
  padding-top: 10rem;
}
.coverage h2 {
  font-size: 2rem;
}
.coverage .contentCoverage {
  display: flex;
}
.coverage .contentCoverage h3 {
  font-size: 1.5rem;
  margin: 2rem 0;
}

footer {
  margin-top: 12rem;
}
footer > div {
  background-color: #142C2E;
  position: absolute;
  left: 0;
  padding: 6rem 12rem;
  padding-bottom: 10rem;
  align-items: center;
  right: 0;
  color: white;
  text-align: center;
}
footer > div h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
}
footer > div button {
  margin-top: 1.5rem;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  font-weight: bold;
}
footer > div div {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
footer > div div .left {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
footer > div div .left span {
  display: flex;
  gap: 1.2rem;
}
footer > div div .right h4 {
  width: 12rem;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 62, 5%;
    margin: 0 auto;
    max-width: 1380px;
  }
  body {
    padding: 1rem 1rem;
  }
}
@media screen and (max-width: 800px) {
  .btn_iconHeader {
    display: block;
  }
  nav {
    background-color: white;
    padding: 1em;
    animation-duration: 1s;
  }
  nav .center_nav {
    align-items: center;
    z-index: 2;
    position: absolute;
    flex-direction: column;
    top: 0;
    background-color: #142C2E;
    width: 50vw;
    animation-duration: 1s;
    margin-left: -100vw;
    height: 100%;
  }
  nav .center_nav ul {
    padding-top: 2rem;
    flex-direction: column;
  }
  nav .center_nav li a {
    color: white;
  }
  nav .center_nav .buttonPrimary {
    margin-top: -4rem;
  }
  nav .center_nav .buttonPrimary button {
    background-color: white;
    color: #142C2E;
  }
  nav .center_nav .buttonPrimary div {
    display: none;
  }
  @keyframes showSideBar {
    from {
      margin-left: -100vw;
    }
    to {
      margin-left: -10vw;
    }
  }
  @keyframes hiddenSideBar {
    from {
      margin-left: -10vw;
    }
    to {
      margin-left: -100vw;
    }
  }
}/*# sourceMappingURL=style.css.map */