$base_color: #142C2E;

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62, 5%;
  margin: 0 auto;
  max-width: 1380px;
}

body {
  padding: 1.5rem 1.5rem;
}

header {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      margin-top: -1rem;
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3rem;

      a {
        text-decoration: none;
        font-weight: bold;
        color: $base_color;
      }
    }

    .center_nav {
      display: flex;
      gap: 10rem;
    }

    div {
      .buttonPrimary {
        button {
          cursor: pointer;
          background-color: $base_color;
          color: white;
          width: 12rem;
          height: 3rem;
          font-weight: bold;
          border: 1px solid $base_color;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
        }

        div {
          width: 11.7rem;
          height: 3rem;
          border: 1.5px solid $base_color;
          margin-left: 10px;
          margin-top: -40px;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
        }
      }

    }
  }
}

.btn_iconHeader {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 62, 5%;
    margin: 0 auto;
    max-width: 1380px;
  }

  body {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .btn_iconHeader {
    display: block;
  }

  nav {
    background-color: white;
    
    padding: 1em;
    animation-duration: 1s;

    .center_nav {
      align-items: center;
      z-index: 2;
      ul {
    padding-top:2rem;
    
        flex-direction: column;
      }


      position: absolute;
      flex-direction: column;
      top:0;
      background-color: $base_color;
      width: 50vw;
      animation-duration: 1s;
      margin-left: -100vw;
      height: 100%;

      li {

        a {
          color: white;
        }
      }

      .buttonPrimary{
        margin-top:-4rem;
        button{
          background-color: white;
          color:$base_color;
        }
        div{
          display: none;  
        }
      }

    }

    @keyframes showSideBar {
      from{
        margin-left:-100vw;
      }
      to{
        margin-left:-10vw;
      }
    }

    @keyframes hiddenSideBar {
      from{
        margin-left:-10vw;
      }
      to{
        margin-left:-100vw;
      }
    }
  }

}